@import "tailwindcss";
@plugin "@iconify/tailwind4";

/* 默认前缀为 icon */
@plugin "@iconify/tailwind4" {
 prefix: "icon"; 
 scale: 1.5;
}

/* 暗色模式 */
.darkTheme {
  --color-surface: #212121;
  --color-background: #181818;
  --color-background-secondary: #363636;
  --color-foreground: #fafafa;
  --color-foreground-secondary: #999999;
  --color-border: #363636;
  --color-border-secondary: #5c5c5c;
  --color-outline: #363636;
}

@theme {
  --color-surface: #ffffff;
  --color-background: #fAfAfA;
  --color-background-secondary: #e8e8e8;
  --color-foreground: #171717;
  --color-foreground-secondary: #626262;
  --color-border: #d1d1d1;
  --color-border-secondary: #afafaf;
  --color-outline: #c7c7c7;

  --max-width-content: 1000px;
}




/* ========== 基础样式 ========== */
html {
  /* scrollbar-gutter: stable; 始终预留滚动条空间，避免页面切换时因有无滚动条导致的 x 轴偏移 */
  /* scroll-behavior: smooth; 平滑滚动 */
}

body {
  /* 呈现单页应用
  固定宽高为视口大小
  隐藏溢出的所有内容避免出现滚动条
  禁止页面拖动*/
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  touch-action: none;

  color: var(--color-foreground);
  background-color: var(--color-background);

  /* 渐变背景 */
  background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}

.darkTheme body {
  /* 暗色的渐变背景 */
  background: 
      linear-gradient(to bottom, #141414 0%, #232323 40%, #101010 150%),
      linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}


/* 自定义 title 样式 */
a[data-title] {
  position: relative;
}
a[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-foreground-secondary);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  padding: 3px 6px;
  border-radius: 5px;
  font-size: var(--text-xs);
}