@import "tailwindcss";
@plugin "@iconify/tailwind4";

/* 默认前缀为 icon */
@plugin "@iconify/tailwind4" {
 prefix: "icon"; 
 scale: 1.3;
}

/* 暗色模式 */
.darkTheme {
  --color-background: #171717;
  --color-foreground: #ffffff;
  --color-border: #313131;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-border: #e2e2e2;

  --max-width-content: 720px;
}




/* ========== 基础样式 ========== */
html {
  scrollbar-gutter: stable; /* 始终预留滚动条空间，避免页面切换时因有无滚动条导致的 x 轴偏移 */
  scroll-behavior: smooth; /* 平滑滚动 */
}

/* body {
  background-color: var(--color-background);
  color: var(--color-foreground);
} */